@use "sass:math";

:root {
    --duration: #{$duration};
    --open-sans: #{$open-sans};
    --gutter: #{$gutter};

    --white: #{$white};
    --lightgray: #{$lightgray};
    --red: #{$red};
    --lightred: #{$lightred};
    --lightblue: #{$lightblue};
    --darkblue: #{$darkblue};
    --cyan: #{$cyan};
    --lightcyan: #{$lightcyan};
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    --bg-color: #{$white};
    --text-color: #{$darkblue};
    --button-color: #{$lightblue};
    --button-text-color: #{$white};

    font-family: var(--open-sans);
    font-size: rem(16px);
    font-weight: 400;
    line-height: math.div(24, 16);
    text-align: left;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}

html.dark body {
    --bg-color: var(--tg-theme-bg-color);
    --text-color: var(--tg-theme-text-color);
}

h1 {
    font-size: rem(21px);
    font-weight: 700;
    letter-spacing: -0.004em;
    line-height: math.div(29, 21);
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 12px;
}
