$duration: 0.15s;

$open-sans: 'Open Sans', sans-serif;

$gutter: rem(16px);

$white: #FFF;
$lightgray: #F5F6F8;
$red: #E8262C;
$lightred: #FFF2F4;
$lightblue: #0BA2BB;
$darkblue: #1C3766;
$cyan: #87E0EF;
$lightcyan: #E4F7FA;
