@use "sass:math";
@import "../../styles/functions";

.offer-details {
    margin-bottom: var(--gutter);

    &__outer {
        background-color: var(--lightcyan);
        border: 1px solid var(--lightcyan);
        border-radius: 12px;
        padding: 11px;
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    &__head {}

    &__body {
        flex: 1 0 auto;
    }

    &__foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__date {
        font-size: rem(12px);
        font-weight: 600;
        line-height: math.div(17, 12);
        text-transform: uppercase;
    }

    &__service {
        font-size: rem(14px);
        font-weight: 700;
        line-height: math.div(20, 14);
        letter-spacing: -0.004em;
        margin-bottom: 4px;
    }

    &__clinic {
        font-size: rem(14px);
        line-height: math.div(16, 14);
    }

    &__doctor {
        font-size: rem(14px);
        line-height: math.div(16, 14);
        margin-top: 12px;

        &-title {
            font-weight: 600;
            line-height: math.div(20, 14);
            margin-bottom: 4px;
        }
    }

    &__discount {
        font-size: rem(16px);
        font-weight: 700;
        line-height: math.div(24, 16);
        letter-spacing: -0.004em;
    }

    &__link {
        a {
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            vertical-align: top;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            background-image: none;
            background-color: var(--button-color);
            border: 0;
            border-radius: 50%;
            padding: 0;
            width: 32px;
            height: 32px;

            &:focus {
                box-shadow: none;
                outline: 0;
            }

            &.disabled,
            &:disabled {
                box-shadow: none;
            }

            &:not(:disabled):not(.disabled) {
                cursor: pointer;
            }

            svg {
                fill: var(--button-text-color);
                display: block;
            }
        }
    }
}
